---
import "../../styles/global.css"
import LiveMeeting from "../../components/classes/LiveMeeting.vue"

export const prerender = false;


const { id } = Astro.params;

---

<main>
    <LiveMeeting client:load meetingId={id}/>
</main>