---
import Layout from '../layouts/Layout.astro';
import CourseList from '../components/CourseList.svelte';
---

<Layout title="PCC Student">
	<main>
		<h1>Welcome to PCC Student!</h1>
		<p>Explore our courses:</p>
		<CourseList client:load />
	</main>
</Layout>
