<html lang="en">
  <head>
    <title>Dashboard | PCC Student</title>
  </head>
  <body>
    <aside>
      <!-- Sidebar: Profile, Courses, Live Classes, etc -->
    </aside>

    <main>
      <slot />
    </main>
  </body>
</html>
