---
import "../../styles/global.css";
import Layout from '../../layouts/Layout.astro';
import MyCoursePage from "../../components/courses/myCourse.vue"

export const prerender = false;

---

<Layout title="PCC Student" >
  <main>
    <MyCoursePage  client:load/>
  </main>
</Layout>
